# Build und temporaere Dateien
**/target/
**/build/
**/.gradle/
**/bin/
**/obj/
**/.idea/
**/.settings/
**/.vscode/
**/node_modules/
**/.kotlin/
**/.metadata/

# Temporaere Dateien
**/.DS_Store
**/Thumbs.db
**/*.tmp
**/*.temp

# IDE-Dateien
**/*.iml
**/*.iws
**/*.ipr

# Log-Dateien
**/*.log

# Android
**/local.properties
**/proguard/
**/lint/
**/.externalNativeBuild/
**/.cxx/

# Java
**/*.class

# Maven/Gradle
**/dependency-reduced-pom.xml
